<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Journal</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="css/style.css">
   <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <script src="app.js"></script>
   <script src="sparoutes.js"></script>

   <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
</head>
<body ng-app="myapp">
    <div class="container-fluid head ">
       <div class="row">
           <!-- <div class="col-md-3 col-sm-3">
               <a href="#"><img class="logo" src="http://www.bpitindia.com/images/logo.png" alt="logo"></a>
           </div> -->
           <div class="col-md-12 col-sm-12" style="padding-bottom: 20px;">
               <h1 class="head-title">INTERNATIONAL JOURNAL OF COMPUTING, INFORMATICS AND NETWORKS</h1>
           </div>
       </div>
        
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 container-fluid">
                <br>
                <div class="navpill">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/about">ABOUT</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#/login">LOGIN</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="#/search">SEARCH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/current">PAPER SUBMISSION</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#/">EDITORIAL BOARD</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/archive">ARCHIVES</a>
                        </li>
                    </ul>
                </div>
                <ng-view></ng-view>
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 " >
                <!-- <br> -->
                <!-- <a href="#" class="small-txt">OPEN JOURNAL SYSTEMS</a>
                <br>
                <a href="#" class="small-txt">Journal Help</a> -->
                <!-- <br>
                <br> -->
                <div ng-controller="loginController">
                <div class="login-form" ng-hide="loginCheck">
                    <h6>Login</h6>
                    <div class="form-group">
                        <!-- <label for="exampleInputEmail1" class="small">Email address</label> -->
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model="user.email">
                    </div>
                    <div class="form-group">
                        <!-- <label for="exampleInputPassword1" class="small">Password</label> -->
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password">
                    </div>
                    <!-- <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <div style="text-align:center;">
                    <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
                </div>
            </div>
            </div>
                <!-- <br> -->
                <!-- <h5 class="small">JONURAL CONTENT</h5> -->
                <!-- <br> -->
                <!-- <form> -->
                    <!--<div class="form-group">
                        <label for="exampleFormControlInput1">Search</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>-->
                    <!-- <div class="form-group">
                        <label for="exampleFormControlSelect1">Category</label>
                        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
                    </div>
                </form> -->
                <div class="browse">
                    <h6>Guidelines</h6>
                    <a href="/#/informations/author" class="small-txt">Information for Author</a>
                    <br>
                    <a href="/#/informations/reviewer" class="small-txt">Information for Reviewer</a>
                </div>
                <div class="browse" style="margin-top:10px; padding-top: 0;">
                    <h6>Join</h6>
                    <a href="#" class="small-txt">Join as Author</a>
                    <br>
                    <a href="#" class="small-txt">Join as Reviewer</a>
                </div>
                <div class="browse" style="margin-top:10px; padding-top: 0;">
                    <h6>Downloads</h6>
                    <a href="#" class="small-txt">Copyright Form</a>
                    <br>
                    <a href="#" class="small-txt">Paper Template</a>
                </div>
                <div class="browse" style="margin-top:10px; padding-top: 0;">
                    <h6>Others</h6>
                    <a href="#" class="small-txt">Review Process</a>
                    <br>
                    <a href="#" class="small-txt">Conference Proposal</a>
                </div>
                <!--<h5 class="small">Information</h5>

                <a href="#" class="small-txt">For Readers</a>
                <br>
                <a href="#" class="small-txt">By Authors</a>
                <br>
                <a href="#" class="small-txt">By Librarians</a>
                <br>
                <br>
                <h5 class="small">Notification</h5>

                <a href="#" class="small-txt">View</a>
                <br>
                <a href="#" class="small-txt">Subscribe/Unsubscribe</a>-->
            </div>
            <footer>
                <p>Copyright &copy; 2018 IJCIN</p>
            </footer>
        </div>
    </div>

   <script src="js/factory/loginfactory.js"></script> 
   <script src="js/controller/login.js"></script> 
   <script src="js/controller/journal.js"></script>
</body>

</html>