<div>
                <p style="display: inline !important;"><a href="https://scholar.google.co.in/scholar?q=International+Journal+of+Computer+Trends+and+Technology&amp;btnG=&amp;hl=en&amp;as_sdt=0%2C5" target="_blank"><img src="http://www.ijcttjournal.org/images/ind/IJCTT-google%20scholar.jpg" alt=" Google Scholar"></a></p>
                <p style="display: inline !important;"><a href="http://adsabs.harvard.edu/cgi-bin/basic_connect?qsearch=ijctt&amp;version=1" target="_blank"><img src="http://www.ijcttjournal.org/images/ind/IJCTT-Nasa%20ads.jpg" alt=" Nasa Ads"></a></p>
                <p style="display: inline !important;"><a href="https://www.worldcat.org/search?qt=worldcat_org_all&amp;q=ijctt" target="_blank"><img src="http://www.ijcttjournal.org/images/ind/IJCTT-world%20cat.jpg" alt=" World cat"></a></p>
                <!--<h3 class="topic-head">INTERNATIONAL JOURNAL OF COMPUTING, INFORMATICS AND NETWORKS</h3>-->
                <hr>
                <p class="para-c p1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat magnam? Hic architecto, ab laudantium provident exercitationem dolorem odio nisi culpa corporis dolores iste id optio vel asperiores perspiciatis amet necessitatibus odit! Adipisci quia
                    cum reprehenderit magni impedit magnam beatae?
                    <br>
                    <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ex corporis veniam ea saepe tenetur necessitatibus. Laudantium error, cupiditate exercitationem deserunt adipisci culpa tempora impedit.
                </p>
                <h4 class="vol-head">VOL 96, NO 4 (2016): MATERIALS ELECTROCHEMISTRY, ELECTROCHEMICAL PROCESSES AND SYSTEMS</h4>
                <div class="img-container">
                    <img src="img/cover.jpg" alt="cover" class="w-100 cvr-img">
                </div>
                <br>
                <p class="para-c">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat magnam? Hic architecto, ab laudantium provident exercitationem dolorem odio nisi culpa corporis dolores iste id optio vel asperiores perspiciatis amet necessitatibus odit! Adipisci quia
                    cum reprehenderit magni impedit magnam beatae?
                    <br>
                    <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ex corporis veniam ea saepe tenetur necessitatibus. Laudantium error, cupiditate exercitationem deserunt adipisci culpa tempora impedit.
                    <br> <br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam eaque quod, illo eligendi ut voluptatum dolore non cupiditate cumque perspiciatis.
                </p>
</div>