<div>
        <br>            
        <br>    
        <div id="">
           <div class="row">
              <div class="col-sm-12">
                 <h2>Information for Reviewers</h2>
                 <br>
                 <h4>Subtitle</h4>
                 <ul style="list-style-type: square;">
                         <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat magnam? Hic architecto, ab laudantium pr</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat magnam? Hic architecto, ab laudantium provident exercitationem dolorem odio nisi culpa corporis dolo.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat magnam? Hic architecto, ab laudantium provident exercitationem dolorem odio nisi culpa corporis dolores iste id optio vel asperiores </li>
                 </ul>
              </div>
           </div>
        </div>
        <div style="margin-top: 20px;">
           <div class="row">
              <div class="col-sm-12">
                 <h4>Subtitle</h4>
                 <ul style="list-style-type: square;">
                         <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat magnam? Hic architecto, ab laudantium pr</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat magnam? Hic architecto, ab laudantium provident exercitationem dolorem odio nisi culpa corporis dolo.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quaerat magnam? Hic architecto, ab laudantium provident exercitationem dolorem odio nisi culpa corporis dolores iste id optio vel asperiores </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>