<div ng-controller="journalController">
    <br>
    <br>
    <div class="search-box" style="width:80%; margin-top:40px;">
    <div>
       <div class="row">
          <div class="col-sm-12">
             <h4>Enter new journal</h4>
          </div>
       </div>
    </div>
    <div id="content">
       <div id="search">
          <form action="/#/success" enctype="multipart/form-data">
             <table>
                
                <tr>
                   <!-- <td><label for="">Authors</label></td> -->
                   <td><input class="form-control" type="text" placeholder="Journal Title"></td>
                </tr>
                <tr>
                   <!-- <td><label for="">Title</label></td> -->
                   <td><input class="form-control"  type="file" style="border:none; height:50px;"></td>
                </tr>
              
             </table>
             <div style="text-align: center; margin-top: 20px;">
             <input type="submit" value="Upload" style="padding: 10px;" class="btn btn-primary"></div>
          </form>
       </div>

    </div>
    </div>
       <div id="search-tips">
          <h5>
             Instructions: 
          </h5>
          <ul>
             <li>Journal should be in pdf format.</li>
            <li>It is recommended to read the <b>Information for Author</b> before uploading.</li>
            <li>Option to choose reviewers will be given to you after the journal has been successfully uploaded.</li>
          </ul>
       </div>

</div>
    
