<div>
      <br>
      <br>
      <div class="search-box">
      <div id="section_1">
         <div class="row">
            <div class="col-sm-12">
               <h4>Search</h4>
            </div>
         </div>
      </div>
      <div id="content">
         <div id="search">
            <form action="">
               <table>
                  
                  <tr>
                     <!-- <td><label for="">Authors</label></td> -->
                     <td><input class="form-control" type="text" placeholder="author"></td>
                  </tr>
                  <tr>
                     <!-- <td><label for="">Title</label></td> -->
                     <td><input class="form-control"  type="text" placeholder="title"></td>
                  </tr>
                
               </table>
               <div style="text-align: center; margin-top: 20px;">
               <input type="button" value="Search" class="btn btn-primary"></div>
            </form>
         </div>

      </div>
      </div>
         <div id="search-tips">
            <h5>
               Search tips: 
            </h5>
            <ul>
               <li>Search terms are case-insensitive</li>
               <li>Common words are ignored</li>
               <li>By default only articles containing <em>all</em> terms in the query are returned (i.e., <em>AND</em> is implied)</li>
               <li>Combine multiple words with <em>OR</em> to find articles containing either term; e.g., <em>education OR research</em></li>
               <li>Use parentheses to create more complex queries; e.g., <em>archive ((journal OR conference) NOT theses)</em></li>
               <li>Search for an exact phrase by putting it in quotes; e.g., <em>"open access publishing"</em></li>
               <li>Exclude a word by prefixing it with <strong>-</strong> or <em>NOT</em>; e.g. <em>online -politics</em> or <em>online NOT politics</em></li>
               <li>Use <strong>*</strong> in a term as a wildcard to match any sequence of characters; e.g., <em>soci* morality</em> would match documents containing "sociological" or "societal"</li>
            </ul>
         </div>

</div>
      
