<div>
      <br>
               
      <div id="section_1">
         <div class="row">
            <div class="col-sm-12">
               <h3>Search</h3>
            </div>
         </div>
      </div>
      <div id="content">
         <div id="search">
            <form action="">
               <table>
                  <tr>
                     <td>
                        <label for="">Search all categories for</label>
                     </td>
                     <td>
                        <input class="form-control"  type="text">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <h4>Search categories</h4>
                     </td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td><label for="">Authors</label></td>
                     <td><input class="form-control" type="text"></td>
                  </tr>
                  <tr>
                     <td><label for="">Title</label></td>
                     <td><input class="form-control"  type="text"></td>
                  </tr>
                  <tr>
                     <td><label for="">Full Text</label></td>
                     <td><input class="form-control"  type="text"></td>
                  </tr>
                  <tr>
                     <td><label for="">Supplementary File(s)</label></td>
                     <td><input class="form-control"  type="text"></td>
                  </tr>
                  <tr>
                     <td>
                        <h4>Date</h4>
                     </td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>From</td>
                     <td>
                        <select>
                           <option label="" value="" selected="selected"></option>
                           <option>January</option>
                           <option>February</option>
                           <option>March</option>
                           <option>April</option>
                           <option>May</option>
                           <option>June</option>
                           <option>July</option>
                           <option>August</option>
                           <option>September</option>
                           <option>October</option>
                           <option>November</option>
                           <option>December</option>
                        </select>
                        <select>
                           <option label="" value="" selected="selected"></option>
                           <option>01</option>
                           <option>02</option>
                           <option>03</option>
                           <option>04</option>
                           <option>05</option>
                           <option>06</option>
                           <option>07</option>
                           <option>08</option>
                           <option>09</option>
                           <option >10</option>
                           <option >11</option>
                           <option >12</option>
                           <option >13</option>
                           <option >14</option>
                           <option >15</option>
                           <option >16</option>
                           <option >17</option>
                           <option >18</option>
                           <option >19</option>
                           <option >20</option>
                           <option >21</option>
                           <option >22</option>
                           <option >23</option>
                           <option >24</option>
                           <option >25</option>
                           <option >26</option>
                           <option >27</option>
                           <option >28</option>
                           <option >29</option>
                           <option >30</option>
                           <option >31</option>
                        </select>
                        <select>
                           <option label="" value="" selected="selected"></option>
                           <option>2012</option>
                           <option>2013</option>
                           <option>2014</option>
                           <option>2015</option>
                           <option>2016</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Until</td>
                     <td>
                        <select>
                           <option label="" value="" selected="selected"></option>
                           <option>January</option>
                           <option>February</option>
                           <option>March</option>
                           <option>April</option>
                           <option>May</option>
                           <option>June</option>
                           <option>July</option>
                           <option>August</option>
                           <option>September</option>
                           <option>October</option>
                           <option>November</option>
                           <option>December</option>
                        </select>
                        <select>
                           <option label="" value="" selected="selected"></option>
                           <option>01</option>
                           <option>02</option>
                           <option>03</option>
                           <option>04</option>
                           <option>05</option>
                           <option>06</option>
                           <option>07</option>
                           <option>08</option>
                           <option>09</option>
                           <option >10</option>
                           <option >11</option>
                           <option >12</option>
                           <option >13</option>
                           <option >14</option>
                           <option >15</option>
                           <option >16</option>
                           <option >17</option>
                           <option >18</option>
                           <option >19</option>
                           <option >20</option>
                           <option >21</option>
                           <option >22</option>
                           <option >23</option>
                           <option >24</option>
                           <option >25</option>
                           <option >26</option>
                           <option >27</option>
                           <option >28</option>
                           <option >29</option>
                           <option >30</option>
                           <option >31</option>
                        </select>
                        <select>
                           <option label="" value="" selected="selected"></option>
                           <option>2012</option>
                           <option>2013</option>
                           <option>2014</option>
                           <option>2015</option>
                           <option>2016</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <h4>Index terms</h4>
                     </td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td><label for="">Discipline(s)</label></td>
                     <td><input class="form-control"  type="text"></td>
                  </tr>
                  <tr>
                     <td><label for="">Keyword(s)</label></td>
                     <td><input  class="form-control" type="text"></td>
                  </tr>
                  <tr>
                     <td><label for="">Type (method/approach)</label></td>
                     <td><input class="form-control"  type="text"></td>
                  </tr>
                  <tr>
                     <td><label for="">Coverage</label></td>
                     <td><input class="form-control"  type="text"></td>
                  </tr>
               </table>
               <input type="button" value="Search" class="btn btn-primary">
            </form>
         </div>
         <div id="search-tips">
            <h5>
               Search tips: 
            </h5>
            <ul>
               <li>Search terms are case-insensitive</li>
               <li>Common words are ignored</li>
               <li>By default only articles containing <em>all</em> terms in the query are returned (i.e., <em>AND</em> is implied)</li>
               <li>Combine multiple words with <em>OR</em> to find articles containing either term; e.g., <em>education OR research</em></li>
               <li>Use parentheses to create more complex queries; e.g., <em>archive ((journal OR conference) NOT theses)</em></li>
               <li>Search for an exact phrase by putting it in quotes; e.g., <em>"open access publishing"</em></li>
               <li>Exclude a word by prefixing it with <strong>-</strong> or <em>NOT</em>; e.g. <em>online -politics</em> or <em>online NOT politics</em></li>
               <li>Use <strong>*</strong> in a term as a wildcard to match any sequence of characters; e.g., <em>soci* morality</em> would match documents containing "sociological" or "societal"</li>
            </ul>
         </div>
      </div>

</div>
      
